input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.credit-card-wrapper {
  margin: 20px;
  font-family: arial;
}

.credit-card-wrapper h1,h2 {
  font-weight: 500;
}

.form-label {
  margin-bottom: 5px;
}

.add-input {
  padding: 10px;
  font-size: 14px;
  width: 20rem;
}

.add-btn {
  display: block;
  width: 7rem;
  margin: 10px 0;
  height: 2rem;
  font-size: 16px;
  color: #ffffff;
  background: #cccccc;
  border: solid 1px #000000;
}

.card-table {
  border-spacing: 0;
  width: 100%;
}

.card-table td,th {
  padding: 10px;
  border: solid 1px #999;
  width: 25%;
  text-align: center;
  font-weight: 300;
}

.card-table th {
  background-color: #cccccc;
}

.negative-bal {
  color: red;
}